.content {
  padding: 20px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.9px);
  -webkit-backdrop-filter: blur(11.9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 30px 30px 30px 0px;
  width: -webkit-fill-available;
}

.sidebar-container {
  font-weight: bold;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 800px; /* Increased max-width for larger dashboard */
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.9px);
  -webkit-backdrop-filter: blur(11.9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 30px;
  width: 350px;
  height: 90vh;
}

.sidebar-title {
  margin-bottom: 20px;
  color: white;
}

svg {
  vertical-align: middle;
}

.lougout-button {
  background-color: red;
}

/* Responsive Design */
@media (max-width: 600px) {
  .dashboard-container {
    width: 90%;
    padding: 10px;
  }

  .menu a,
  .logout-button {
    padding: 10px;
    font-size: 14px;
  }
}
